* {
    font-family: 'Manrope';
    margin: 0;
    padding: 0;
}

body {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}

.btn-footer:hover {
    background-color: #888888;
}

.btn-crear {
    background-color: #292A2E;
    color: white;
    border-radius: 6px;
    padding: 8px 15px;
    font-size: 16px;
    border: none;
    
}

.btn-crear:hover {
    background-color: #888;
   
    border: none;
}

.card {
    border: none;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: none
}

.card:hover {
    transform: none;
}

.card-img-top {
    border-radius: 0.5rem 0.5rem 0 0;
    height: 200px;
    object-fit: cover;
}

.header {
    background-color: #343a40;
    padding: 0.5rem 0;
}

.header .nav-link {
    color: white !important;
}

.header .nav-link:hover {
    color: #adb5bd !important;
}

#recipe-form .form-control {
    transition: none
}

#recipe-form .form-control:focus {
    box-shadow: none;
    border-color: #ccc;
}
.btn-crear {
    background-color:  #292A2E;
    color: white; 
    border-radius: 6px;
    padding: 8px 15px; 
    font-size: 16px;
    transition: transform 0.3s;
    border: none; 
}

.btn-crear:hover {
    background-color: #888; 
    transform: translateY(-2px);
    border: none;
}

.navbar-brand {
    font-size: 1.5rem;
    color: white;
}

.nav-link {
    font-size: 1.2rem;
    color: white;
    padding: 0.5rem 1rem;
}

.navbar {
    background-color: #292A2E;
    color: white;
}

footer {
    background-color: #111725;
}

.btn-footer {
    background: #292A2E;
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 5px;
}

main {
    margin-top: 100px; /* Ajusta según sea necesario */
}

.btn-inicio {
    background-color: #FFF;
    color: #111725;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

.btn-inicio:hover {
    background-color: #888;
    color: #FFF;
    cursor: pointer;
    border: 1px solid #FFF;
}

.btn-signup:hover {
    background-color: #343a40;
    color: #FFF;
    cursor: pointer;
    border: 1px solid #FFF;
}
