*{
    font-family: 'Manrope';
    margin: 0;
    padding:0;
}
.card-img {
  width: 100%;
  height: 100%; /* Asegura que la imagen ocupe todo el espacio disponible */
  object-fit: cover; /* Mantiene la proporción de la imagen y rellena el área */
}
body{
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
}
.card:hover{
    transform: translateY(-10px);
}
.card{
    background-color: #929AAB;
    color: #FFF;
}
#header {
    background-color: #343a40; /* Color de fondo de la barra de navegación */
    color: white;
}

.navbar-brand {
    font-size: 1.5rem;
    color: white;
}

.nav-link {
    font-size: 1.2rem;
    color: white;
    padding: 0.5rem 1rem;
}

.navbar {
    background-color: #292A2E; 
    color: white; 
}
footer{
    background-color: #111725;
}
.btn-footer{
    background: #292A2E;
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 5px;
}